.form-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#account-select {
  max-width: 400px;
}

#account-select-container {
  display: flex;
  flex-direction: row;
}

#add-account-icon {
  margin-left: 10px;
}

.leaflet-container {
  height: 400px;
  width: 400px;
}

#select-container {
  display: flex; 
  justify-content: center;
}

h3 {
  font-size: 20px;
}

#add-account-button {
  margin-left: 10px;
}

#map-container {
  margin-top: 50px;
}

#view-map {
  margin-left: 20px;
}

h2 {
  font-size: 25px;
}

.notes-container {
  margin-top: 50px;
  margin-left: 20px;
}

