.form-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

/* .row {
  display: flex;
  flex-direction: column;

} */

#account-select {
  max-width: 400px;
}

#account-select-container {
  display: flex;
  flex-direction: row;
}

#add-account-icon {
  margin-left: 10px;
}

